*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

body{
    background-color: #1f1f1f;
}

header {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0px 0px 0px;
}

ul {
    list-style: none;
    display: flex;
    gap: 50px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

li {
    cursor: pointer;
}

li a:hover {
    transition-duration: 0.5s;
    color: rgb(143, 20, 192);
}

.inicial {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
}

.titulos {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    gap: 30px;
}

.titulo-estatico {
    color: white;
    font-size: 50px;
    font-weight: 400;
}

.titulo-dinamico {
    display: flex;
    flex-direction: column;
    line-height: 80px;
    height: 90px;
    overflow: hidden;
}

.titulo-dinamico p {
    color: rgb(143, 20, 192);
    font-size: 50px;
    font-weight: 500;
    list-style: none;
    width: 100%;
}

.titulo-dinamico p span {
    position: relative;
}

.titulo-dinamico p span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-left: 2px solid rgb(143, 20, 192);
    animation: escrevendo 8s infinite;
    background-color: #1f1f1f;
}

@keyframes escrevendo {
    50% {
        left: 100%;
    }
}