*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    background-color: #181818;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

body{
    background-color: #191919;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

header{
    background-color: #191919;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
    display: none;
    position: fixed;
    width: 100vw;
    justify-content: center;
    padding: 30px 0px 30px 0px;
    z-index: 1;
    animation: aparecer ease 0.5s;
}

.flex {
    display: flex; 
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.btn-voltar-topo {
    cursor: pointer;
    position: fixed;
    display: none;
    z-index: 1;
    color: white;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    gap: 5px;
    animation: aparecer ease 1s;
}

.btn-voltar-topo:hover {
    transition-duration: 0.3s;
    color: #d4d4d4;
}

.inicial {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-left-main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-family: 'Poppins', sans-serif;
}

.titulo-estatico {
    color: white;
    font-size: 50px;
    font-weight: 400;
}

.titulo-dinamico {
    display: flex;
    overflow: hidden;
    padding-right: 20px;
}

.titulo-dinamico p {
    color: rgb(143, 20, 192);
    font-size: 50px;
}

.titulo-dinamico p span {
    position: relative;
}

.titulo-dinamico p span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-left: 2px solid rgb(143, 20, 192);
    animation: escrevendo 6s infinite;
    background-color: #191919;
}

@keyframes escrevendo {
    50% {
        left: 103%;
    }
}

ul {
    list-style: none;
    display: flex;
    gap: 50px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

li {
    cursor: pointer;
}

li a {
    position: relative;
}

li a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    height: 2px;
    width: 100%;
    left: 0;
    background-color: rgb(143, 20, 192);
    transition: 0.3s ease-in-out;
    transform: scaleX(0);
}

li a:hover::after {
    transform: scaleX(1);
}

.photo-container img {
    width: 700px;
    height: 700px;
    margin-left: 250px;
    transform: translateY(0px);
    animation: flutuar 4s ease-in-out infinite;
}

@keyframes flutuar {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}

section {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    top: 0;
    left: 0;
}


/*SOBRE*/

.sobre {
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.photo-container-sobre {
    position: relative;
}

.photo-container-sobre img {
    width: 450px;
    border-radius: 50%;
    border-left: 5px solid rgb(143, 20, 192);
    box-shadow: 5px 10px 5px 5px rgba(0, 0, 0, 0.2);
}

.container-right-sobre {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-text {
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-size: 50px;
}

.container-text.active {
    height: auto;
}

.container-text.active ::before {
    visibility: hidden;
}

.container-text p span {
    position: relative;
}

.container-text p span::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: 5px;
    left: 0;
    background-color: #8f14c0;
}

.text-sobre {
    overflow: hidden;
    max-width: 600px;
    font-size: 22px;
    position: relative;
    padding-bottom: 15px;
}

.color-purple-text {
    background-color: rgb(108, 13, 146);
}

.text-sobre::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, #202020);
}

.text-sobre.activeSparator ::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 2px;
    width: 70%;
    background-color: rgb(143, 20, 192);
}

.btn-ler-mais {
    display: flex;
    cursor: pointer;
    border: none;
    font-size: 20px;
    background-color: transparent;
    color: white;
}

.btn-ler-mais:hover {
    transition-duration: 0.5s;
    color: #8f14c0;
}

/*CONHECIMENTOS*/

.conhecimentos {
    background-color: #191919;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 130px;
}

.conhecimentos h1 {
    position: relative;
    font-size: 50px;
    background: linear-gradient(45deg, #8f14c0, #c014c0, #e25e11, #8f14c0);
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.conhecimentos h1::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
}

.conhecimentos h1::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    top: 0;
    right: 0;
    background-color: #ffffff;
}

@keyframes degrade {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.containers-conhecimentos-geral {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}

.separador-conhecimentos {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
}

.containers-conhecimentos {
    display: flex;
    align-items: center;
    gap: 80px;
}

.containers-conhecimentos i {
    cursor: pointer;
    font-size: 80px;
}

.container-conhecimento {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    transition-duration: 0.5s;
}

.container-conhecimento ::after {
    content: "";
    height: 2px;
    width: 100%;
    background: linear-gradient(45deg, #8f14c0, #c014c0, #e25e11, #8f14c0);
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;
}

.container-conhecimento:hover {
    transform: scale(1.25, 1.25);
}

.container-conhecimento p {
    font-size: 30px;
    cursor: pointer;
    margin-bottom: 15px;
}

/*PROJETOS*/

.projetos {
    background-color: rgb(14, 13, 13);
}

.contato {
    background-color: rgb(14, 13, 13);
}

/*MEDIAQUERIES*/

@media(max-width: 1700px) {

    .inicial {
        flex-direction: column;
        padding-top: 100px;
    }

    .photo-container img {
        margin-left: 0;
    }

    ul {
        padding-bottom: 50px;
    }
}