*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    background-color: #181818;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

body{
    background-color: #191919;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}

.inicial {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container-left-main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-family: 'Poppins', sans-serif;
}

.titulo-estatico {
    color: white;
    font-size: 50px;
    font-weight: 400;
}

.titulo-dinamico {
    display: flex;
    overflow: hidden;
    padding-right: 20px;
}

.titulo-dinamico p {
    color: rgb(143, 20, 192);
    font-size: 50px;
}

.titulo-dinamico p span {
    position: relative;
}

.titulo-dinamico p span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-left: 2px solid rgb(143, 20, 192);
    animation: escrevendo 6s infinite;
    background-color: #191919;
}

@keyframes escrevendo {
    50% {
        left: 103%;
    }
}

ul {
    list-style: none;
    display: flex;
    gap: 50px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

li {
    cursor: pointer;
}

li a {
    position: relative;
}

li a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    height: 2px;
    width: 100%;
    left: 0;
    background-color: rgb(143, 20, 192);
    transition: 0.3s ease-in-out;
    transform: scaleX(0);
}

li a:hover::after {
    transform: scaleX(1);
}

.photo-container img {
    width: 700px;
    height: 700px;
    margin-left: 250px;
    transform: translateY(0px);
    animation: flutuar 4s ease-in-out infinite;
}

@keyframes flutuar {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}

section {
    overflow: hidden;
    min-height: 100vh;
    width: 100vw;
}

.sobre {
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.container-right-sobre {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-text {
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-size: 50px;
}

.container-text.active {
    height: auto;
}

.container-text.active ::before {
    visibility: hidden;
}

.container-text p span {
    position: relative;
}

.container-text p span::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(143, 20, 192);
}

.text-sobre {
    overflow: hidden;
    max-width: 600px;
    font-size: 20px;
    position: relative;
}

.text-sobre::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, #202020);
}

.btn-ler-mais {
    display: flex;
    cursor: pointer;
    border: none;
    font-size: 20px;
    background-color: transparent;
    color: white;
}

.btn-ler-mais:hover {
    transition-duration: 0.5s;
    color: rgb(143, 20, 192);
}

.photo-container-sobre img {
    width: 450px;
    border: 1px solid transparent;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
    box-shadow: 10px 10px 10px rgb(5, 5, 5, 0.389);
}

.conhecimentos {
    background-color: aqua;
}

.projetos {
    background-color: red;
}

.contato {
    background-color: blue;
}

/*MEDIAQUERIES*/

@media(max-width: 1700px) {

    .inicial {
        flex-direction: column;
        padding-top: 100px;
    }

    .photo-container img {
        margin-left: 0;
    }

    ul {
        padding-bottom: 50px;
    }
}