/*SEGUNDA SEÇÃO, TELA DE SOBRE*/

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 30px 30px;
}

/*LADO DO TEXTO DA TELA SOBRE*/
.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-about {
    width: 500px;
}

/*DIV QUE AGRUPA TITULO, TEXTO, BOTÃO DE LER MAIS E MENOS...*/
.about-container-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
}

/*TITULO SOBRE*/

.about-container-text p span {
    color: #000000;
    position: relative;
    font-size: 30px;
    font-weight: 600;
}

.about-container-text p span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 70%;
    background-color: #8f14c0;
}

.about-container-text p span::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 20%;
    background-color: #8f14c0;
}

/*TEXTO SOBRE MIM*/
.about-text {
    max-width: 600px;
    font-size: 16px;
    text-align: center;
    position: relative;
}

/*CLASSE CRIADA PARA COLOCAR NAS PALAVRAS EM DESTAQUE, ASSIM ADICIONANDO UM FUNDO DIFERENCIADO*/
.color-purple-text {
    background-color: rgb(108, 13, 146);
    color: #ebebeb;
    padding-inline: 5px;
    border-radius: 5px;
}
