/*SEGUNDA SEÇÃO, TELA DE SOBRE*/

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
}

/*LADO DO TEXTO DA TELA SOBRE*/
.about-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/*DIV QUE AGRUPA TITULO, TEXTO, BOTÃO DE LER MAIS E MENOS...*/
.about-container-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: rgb(0, 0, 0);
    font-size: 50px;
    align-items: center;
    justify-content: center;
}

/*TEXTO SOBRE MIM COM UMA CLASSE PARA FAZER EFEITO DE DEGRADẼ*/
.about-container-text.active {
    height: auto;
}

/*ATRIBUTO ADICIONADO AO TEXTO PARA ELE SUMIR CONFORME O DEGRADẼ*/
.about-container-text.active ::before {
    visibility: hidden;
}

/*TITULO SOBRE*/
.about-container-text p span {
    color: #000000;
    position: relative;
    font-size: 40px;
}

.about-container-text p span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 70%;
    background-color: #8f14c0;
}

.about-container-text p span::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 20%;
    background-color: #8f14c0;
}

/*TEXTO SOBRE MIM*/
.about-text {
    padding-top: 15px;
    max-width: 350px;
    font-size: 18px;
    position: relative;
    text-align: center;
}

/*CLASSE CRIADA PARA COLOCAR NAS PALAVRAS EM DESTAQUE, ASSIM ADICIONANDO UM FUNDO DIFERENCIADO*/
.color-purple-text {
    background-color: rgb(108, 13, 146);
    color: #ebebeb;
    padding-inline: 5px;
    border-radius: 5px;
}

/*DEGRADÊ DO TEXTO SOBRE*/
.about-text::before {
    display: none;
    align-items: center;
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, #ebebeb);
}

/*TRAÇADO INFERIOIR TEXTO SOBRE*/
.about-text::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: rgb(143, 20, 192);
    display: none;
}

.btn-read-more {
    display: none;
    cursor: pointer;
    border: none;
    font-size: 20px;
    background-color: transparent;
    color: rgb(0, 0, 0);
}

.btn-read-more:hover {
    transition-duration: 0.5s;
    color: #8f14c0;
}

.btn-read-more:active {
    color: rgb(0, 0, 0);
}
