/*PRIMEIRA SEÇÃO, TELA DE INICIO*/


.homescreen {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding-right: 100px;
}

.photo-homescreen-logo img {
    display: none;
    border: 4px solid #8f14c0;
    border-radius: 50%;
    transition-duration: 0.5s;
}

.photo-homescreen-logo img:hover {
    transform: scale(1.25, 1.25);
}

.photo-homescreen img {
    display: flex;
    width: 350px;
    transition-duration: 0.5s;
}

.photo-homescreen img:hover {
    transform: scale(1.25, 1.25);
}

/*LADO DOS DOS TÍTULOS E PÁGINAS*/
.titles-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-family: 'Poppins', sans-serif;
}

.static-title {
    font-weight: 600;
    position: relative;
    color: black;
    font-size: 50px;
}

.dynamic-title {
    font-weight: 600;
    display: flex;
    overflow: hidden;
    padding-right: 20px;
}

.dynamic-title p {
    color: rgb(143, 20, 192);
    font-size: 50px;
}

.dynamic-title p span {
    position: relative;
}

.dynamic-title p span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-left: 2px solid #8f14c0;
    animation: escrevendo 6s infinite;
    background-color: #ebebeb;
}

.homescreen .text-container {
    position: relative;
    font-size: 20px;
    max-width: 700px;
    text-align: start;
    padding-left: 7px;
    border-left: solid 2px #8f14c0;
}

/*PÁGINAS LOCALIZADAS ABAIXO DOS TÍTULOS*/
.homescreen-navbar ul {
    list-style: none;
    display: flex;
    gap: 50px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.homescreen-navbar li {
    cursor: pointer;
}

.homescreen-navbar li a {
    position: relative;
    color: black;
}

/*TRAÇADO QUANDO PASSADO MOUSE NAS PÁGINAS*/
.homescreen-navbar li a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    height: 2px;
    width: 100%;
    left: 0;
    background-color: rgb(143, 20, 192);
    transition: 0.3s ease-in-out;
    transform: scaleX(0);
}

/*EFEITO DE HOVER NO TRAÇADO*/
.homescreen-navbar li a:hover::after {
    transform: scaleX(1);
}