/*Ìndice do site*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: rgb(194,194,194) #ffffff;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(194, 194, 194);
}

body{
    background-color: #ffffff;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

/*CLASS PARA SER ADICIONADA EM CAMADAS DISPLAY FLEX*/
.flex {
    display: flex; 
}

/*ATRIBUTOS ADICIONADO Á TODOS QUE CONTÉM A SECTION*/
