/*Animaçẽs do site*/


/*ANIMAÇÃO LETREIRO DE ENTRADA SITE*/
@keyframes animated-text {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/*ANIMAÇÃO EFEITO TITULO PÁGINA HOME*/
@keyframes escrevendo {
    50% {
        left: 103%;
    }
}

/*ANIMAÇÃO DE FLUTUAR NA FOTO NA PÁGINA HOME*/
@keyframes flutuar {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}


/*ANIMAÇÃO PARA SER COLOCADA NO BOTÃO VOLTAR AO TOPO E NO MENU DE NAVEGAÇÃO TOPO*/
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

/*ANIMAÇÃO DO DEGRADẼ DE CORES DO TÍTULO CONHECIMENTOS E RISCO EM BAIXO DE CADA UM */
@keyframes degrade {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position: 400%;
    }
}