/*TERCEIRA SEÇÃO, TELA DE CONHECIMENTOS*/


.knowledge {
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
    background-color: rgb(31, 31, 31);
    padding: 70px 70px;
    overflow: hidden;
    position: relative;
    width: 100vw;
}


.knowledge::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: -90px;
    left: 0px;
    background: linear-gradient(to left, #340347 , #8f14c0);
}

.knowledge h1 {
    position: relative;
    font-size: 30px;
    background: linear-gradient(45deg, #8f14c0, #c014c0, #e25e11, #8f14c0);
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*TRAÇADO SUPERIOR DO TÍTULO*/
.knowledge h1::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    top: 0;
    right: 0;
    background-color: #ffffff;
}

/*TRAÇADO INFERIOR DO TÍTULO CONHECIMENTO*/
.knowledge h1::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
}

/*DIV QUE AGRUPA TODOS OS CONHEIMENTOS*/
.container-knowledge-all {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
}

/*DIV QUE AGRUPA ICONE, NOME E TRAÇADO ABAIXO CADA CONHECIMENTO*/
.container-knowledge {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.container-knowledge i {
    font-size: 50px;
    color: white;
}

/*NOME DE CADA CONHECIMENTO*/
.container-knowledge p {
    font-size: 22px;
    cursor: pointer;
    margin-bottom: 15px;
    color: white;
}

/*TRAÇADO DE CADA CONHECIMENTO JÁ COM EFEITO DE DEGRADẼ*/
.container-knowledge ::after {
    content: "";
    height: 3px;
    width: 100%;
    background: linear-gradient(45deg, #8f14c0, #c014c0, #e25e11, #8f14c0);
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;
}

/*EFEITO DE ZOOM AO PASSAR O MOUSE POR CADA CONHECIMENTO*/
.container-knowledge:hover {
    transform: scale(1.25, 1.25);
}