/*TERCEIRA SEÇÃO, TELA DE CONHECIMENTOS*/


.knowledge {
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
    background-color: rgb(218, 218, 218);
    padding: 100px 15px;
    border-radius: 20px;
}

.knowledge h1 {
    position: relative;
    font-size: 35px;
    background: linear-gradient(45deg, #8f14c0, #c014c0, #e25e11, #8f14c0);
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*TRAÇADO SUPERIOR DO TÍTULO*/
.knowledge h1::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    top: 0;
    right: 0;
    background-color: #000000;
}

/*TRAÇADO INFERIOR DO TÍTULO CONHECIMENTO*/
.knowledge h1::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #000000;
}

/*DIV QUE AGRUPA TODOS OS CONHECIMENTOS E SEPARADORES*/
.knowledge-container-all {
    display: flex;
    gap: 50px;
    align-items: center;
    flex-direction: column;
}

/*DIV QUE AGRUPA APENAS OS CONHECIMENTOS POR LINHA*/
.first-container-knowledge {
    display: flex;
    align-items: center;
    gap: 45px;
}

.second-container-knowledge {
    display: flex;
    align-items: center;
    gap: 45px;
}

/*DIV QUE AGRUPA ICONE, NOME E TRAÇADO ABAIXO CADA CONHECIMENTO*/
.container-knowledge {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    transition-duration: 0.5s;
    cursor: pointer;
}

/*ICONES DOS CONHECIMENTOS*/
.first-container-knowledge i {
    font-size: 50px;
}

.second-container-knowledge i {
    font-size: 50px;
}

/*NOME DE CADA CONHECIMENTO*/
.container-knowledge p {
    font-size: 22px;
    cursor: pointer;
    margin-bottom: 15px;
}

/*TRAÇADO DE CADA CONHECIMENTO JÁ COM EFEITO DE DEGRADẼ*/
.container-knowledge ::after {
    content: "";
    height: 3px;
    width: 100%;
    background: linear-gradient(45deg, #8f14c0, #c014c0, #e25e11, #8f14c0);
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;
}

/*EFEITO DE ZOOM AO PASSAR O MOUSE POR CADA CONHECIMENTO*/
.container-knowledge:hover {
    transform: scale(1.25, 1.25);
}