/*MEDIAQUERIES = RESPONSIVIDADE DO SITE*/



/*TELAS GRANDES*/
@media(min-width:1350px) and (max-width: 1900px) {

}

/*TELAS MENORES*/
@media(min-width:992px) and (max-width: 1349px) {

}

@media(min-width:768px) and (max-width:991px) {

}

@media(min-width:481px) and (max-width:767px) {

}

@media(max-width:480px) {

}


@media(max-height: 925px) {
    .profile {
        top: 180px;
    }

    .profile img {
        width: 350px;
    }
}

@media(max-height: 890px) {
    .profile img {
        width: 300px;
    }
}

@media(max-height: 850px) {
    .profile {
        top: 220px;
    }

    .profile img {
        width: 250px;
    }
}

@media(max-height: 820px) {
    .profile {
        top: 250px;
    }

    .profile img {
        width: 200px;
    }
}