/*MEDIAQUERIES = RESPONSIVIDADE DO SITE*/



/*TELAS GRANDES*/
@media(max-width: 1900px) {
/*BANNER*/
.header {
    
}

/*PERFIL*/
.profile img {
    
}
.profile {
    
}

/*TELA DE INICIO*/
.homescreen {
    
}
.static-title {
    
}
.dynamic-title p {
    
}

/*SOBRE*/
.icon-user-about {
   
}
.about-container-text p span {
    
}
.about-text {
    
}

/*CONHECIMENTOS*/
.knowledge h1 {
}
.first-container-knowledge {
}
.second-container-knowledge {
}
.first-container-knowledge i {
}
.second-container-knowledge i {
}
.container-knowledge p {
}

/*CONTATO*/
.contact h1 {
}
.contact a {
}

/*PROJETOS*/
.header-projectsscreen h1 {
}
}


















/*TELAS MENORES*/
@media(min-width:992px) and (max-width: 1349px) {

}

@media(min-width:768px) and (max-width:991px) {

}

@media(min-width:481px) and (max-width:767px) {

}

@media(max-width:480px) {

}




















/*
@media(max-height: 925px) {
    .profile {
        top: 180px;
    }

    .profile img {
        width: 350px;
    }
}

@media(max-height: 890px) {
    .profile img {
        width: 300px;
    }
}

@media(max-height: 850px) {
    .profile {
        top: 220px;
    }

    .profile img {
        width: 250px;
    }
}

@media(max-height: 820px) {
    .profile {
        top: 250px;
    }

    .profile img {
        width: 200px;
    }
}
*/