@import "./index.css"; /*Ìndice do site*/
@import "./navbar.css"; /*Barra de navegação*/
@import "./buttonbacktotop.css"; /*Botão de voltar ao topo*/
@import "./homescreen.css"; /*Tela de inicio*/
@import "./aboutscreen.css"; /*Tela de sobre*/
@import "./knowledgescreen.css"; /*Tela de conhecimentos*/
@import "./projectsscreen.css"; /*Tela de projetos*/
@import "./contactscreen.css"; /*Tela de contato*/
@import "./keyframes.css"; /*Animações*/


/*MEDIAQUERIES*/


@media(min-width:1200px) and (max-width: 1919px) {

/*PRIMEIRA SEÇÃO*/
    .homescreen-photo img {
        width: 500px;
        height: 500px;
    }
    
/*SEGUNDA SEÇÃO*/

    .aboutscreen-photo img {
        width: 300px;
    }

    .about-text {
        max-width: 500px;
        font-size: 20px;
    }

    .about-container-text p span {
        font-size: 40px;
    }

/*TERCEIRA SEÇÃO*/
.knowledge {
    gap: 100px;
}

.knowledge h1 {
    font-size: 60px;
}

.first-container-knowledge i {
    font-size: 80px;
}

.second-container-knowledge i {
    font-size: 80px;
    }

.container-knowledge p {
    font-size: 25px;
}

.container-knowledge {
    gap: 10px;
}

.first-container-knowledge {
    gap:50px;
}
.second-container-knowledge {
    gap:50px;
}

.knowledge-container-all {
    gap:60px;
}

}


@media(min-width:992px) and (max-width: 1199px) {

    /*PRIMEIRA SEÇÃO*/
    .homescreen-photo img {
        display: none;
    }

    .homescreen {
        flex-direction: column;
    }

    /*SEGUNDA SEÇÃO*/

    .aboutscreen-photo img {
        width: 250px;
    }

    .about-text {
        max-width: 400px;
        font-size: 16px;
    }

    .about-container-text p span {
        font-size: 35px;
        padding-bottom: 5px;
    }


    /*TERCEIRA SEÇÃO*/
    .knowledge {
        gap: 80px;
    }

    .knowledge h1 {
        font-size: 40px;
    }

    .first-container-knowledge i {
        font-size: 60px;
    }

    .second-container-knowledge i {
        font-size: 60px;
    }

    .container-knowledge p {
        font-size: 20px;
    }

    .container-knowledge {
        gap: 10px;
    }

    .first-container-knowledge {
        gap:50px;
    }
    .second-container-knowledge {
        gap:50px;
    }

    .knowledge-container-all {
        gap:60px;
    }
}


@media(min-width:768px) and (max-width:991px) {

    /*PRIMEIRA SEÇÃO*/
    .homescreen-photo img {
        display: none;
    }

    .homescreen {
        flex-direction: column;
    }

    /*SEGUNDA SEÇÃO*/
    .about {
        flex-direction: column;
        gap: 0px;
    }

    .aboutscreen-photo img {
        width: 200px;
    }

    .about-container-text span {
        font-size: 30px;
        padding-bottom: 5px;
    }

    .about-text {
        font-size: 16px;
        max-width: 400px;
    }

    /*TERCEIRA SEÇÃO*/
    .knowledge {
        gap: 100px;
    }

    .knowledge h1 {
        font-size: 35px;
    }

    .container-knowledge p {
        font-size: 16px;
    }

    .container-knowledge {
        gap: 10px;
    }

    .first-container-knowledge {
        gap:50px;
    }
    .second-container-knowledge {
        gap:50px;
    }

    .first-container-knowledge i {
        font-size: 55px;
    }

    .second-container-knowledge i {
        font-size: 55px;
    }

    .knowledge-container-all {
        display: flex;
        flex-direction: column;
    }
}

@media(min-width:481px) and (max-width:767px) {
    
    .header {
        visibility: hidden;
    }

    /*PRIMEIRA SEÇÃO*/
    .homescreen-photo img {
        display: none;
    }

    .homescreen {
        flex-direction: column;
    }

    .btn-menu-inicial-mobile {
        display: flex;
    }

    .mobile-menu-nav-inicial {
        visibility: visible;
    }

    .ul-mobile-menu-nav {
        font-size: 14px;
    }

    .btn-voltar-topo {
        visibility: hidden;
    }

    .titles {
        margin-top: 80px;
        align-items: center;
    }

    .static-title {
        font-size: 40px;
    }

    .dynamic-title p {
        font-size: 40px;
    }

    .homescreen-navbar ul {
        display: none;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-mobile {
        visibility: visible;
    }

    /*SEGUNDA SEÇÃO*/
    .about {
        flex-direction: column;
        gap: 0px;
    }

    .aboutscreen-photo img {
        width: 200px;
    }

    .about-container-text span {
        font-size: 30px;
        padding-bottom: 5px;
    }

    .about-text {
        font-size: 14px;
        max-width: 350px;
    }

    /*TERCEIRA SEÇÃO*/
    .knowledge {
        gap: 100px;
    }

    .knowledge h1 {
        font-size: 35px;
    }

    .container-knowledge p {
        font-size: 16px;
    }

    .container-knowledge {
        gap: 10px;
    }

    .first-container-knowledge {
        gap:50px;
    }
    .second-container-knowledge {
        gap:50px;
    }

    .first-container-knowledge i {
        font-size: 55px;
    }

    .second-container-knowledge i {
        font-size: 55px;
    }

    .knowledge-container-all {
        display: flex;
        flex-direction: column;
    }

}

@media(max-width:480px) {

    .header {
        visibility: hidden;
    }

    /*PRIMEIRA SEÇÃO*/
    .homescreen-photo img {
        display: none;
    }

    .homescreen {
        flex-direction: column;
    }

    .btn-menu-inicial-mobile {
        display: flex;
    }

    .ul-mobile-menu-nav {
        font-size: 14px;
    }

    .mobile-menu-nav-inicial {
        visibility: visible;
    }

    .btn-menu-inicial-mobile {
        padding: 15px 0px;
    }

    .btn-voltar-topo {
        visibility: hidden;
    }

    .titles {
        margin-top: 80px;
        align-items: center;
    }

    .static-title {
        font-size: 30px;
    }

    .dynamic-title p {
        font-size: 30px;
    }

    .homescreen-navbar ul {
        display: none;
    }

    .footer-mobile {
        visibility: visible;
    }

    /*SEGUNDA SEÇÃO*/
    .about {
        flex-direction: column;
        gap: 0px;
    }

    .aboutscreen-photo img {
        width: 200px;
    }

    .about-container-text span {
        font-size: 30px;
        padding-bottom: 5px;
    }

    .about-text {
        font-size: 14px;
        max-width: 350px;
    }

    /*TERCEIRA SEÇÃO*/
    .knowledge {
        gap: 100px;
    }

    .knowledge h1 {
        font-size: 35px;
    }

    .container-knowledge p {
        font-size: 16px;
    }

    .container-knowledge {
        gap: 10px;
    }

    .first-container-knowledge {
        gap:50px;
    }
    .second-container-knowledge {
        gap:50px;
    }

    .first-container-knowledge i {
        font-size: 55px;
    }

    .second-container-knowledge i {
        font-size: 55px;
    }

    .knowledge-container-all {
        display: flex;
        flex-direction: column;
    }
}