@import "./index.css"; /*Ìndice do site*/
@import "./navbar.css"; /*Barra de navegação*/
@import "./buttonbacktotop.css"; /*Botão de voltar ao topo*/
@import "./homescreen.css"; /*Tela de inicio*/
@import "./aboutscreen.css"; /*Tela de sobre*/
@import "./understandscreen.css"; /*Tela de conhecimentos*/
@import "./projectsscreen.css"; /*Tela de projetos*/
@import "./contactscreen.css"; /*Tela de contato*/
@import "./keyframes.css"; /*Animações*/


/*MEDIAQUERIES*/


@media(min-width:1200px) and (max-width: 1919px) {

/*PRIMEIRA SEÇÃO*/
    .photo-container img {
        width: 500px;
        height: 500px;
    }
    
/*SEGUNDA SEÇÃO*/

    .photo-container-sobre img {
        width: 300px;
    }

    .text-sobre {
        max-width: 500px;
        font-size: 20px;
    }

    .container-text p span {
        font-size: 40px;
    }

/*TERCEIRA SEÇÃO*/
.conhecimentos {
    gap: 100px;
}

.conhecimentos h1 {
    font-size: 60px;
}

.containers-conhecimentos-one i {
    font-size: 80px;
}

.containers-conhecimentos-two i {
    font-size: 80px;
    }

.container-conhecimento p {
    font-size: 25px;
}

.container-conhecimento {
    gap: 10px;
}

.containers-conhecimentos-one {
    gap:50px;
}
.containers-conhecimentos-two {
    gap:50px;
}

.containers-conhecimentos-geral {
    gap:60px;
}

}


@media(min-width:992px) and (max-width: 1199px) {

    /*PRIMEIRA SEÇÃO*/
    .photo-container img {
        display: none;
    }

    .inicial {
        flex-direction: column;
    }

    /*SEGUNDA SEÇÃO*/

    .photo-container-sobre img {
        width: 250px;
    }

    .text-sobre {
        max-width: 400px;
        font-size: 16px;
    }

    .container-text p span {
        font-size: 35px;
        padding-bottom: 5px;
    }


    /*TERCEIRA SEÇÃO*/
    .conhecimentos {
        gap: 80px;
    }

    .conhecimentos h1 {
        font-size: 40px;
    }

    .containers-conhecimentos-one i {
        font-size: 60px;
    }

    .containers-conhecimentos-two i {
        font-size: 60px;
    }

    .container-conhecimento p {
        font-size: 20px;
    }

    .container-conhecimento {
        gap: 10px;
    }

    .containers-conhecimentos-one {
        gap:50px;
    }
    .containers-conhecimentos-two {
        gap:50px;
    }

    .containers-conhecimentos-geral {
        gap:60px;
    }
}


@media(min-width:768px) and (max-width:991px) {

    /*PRIMEIRA SEÇÃO*/
    .photo-container img {
        display: none;
    }

    .inicial {
        flex-direction: column;
    }

    /*SEGUNDA SEÇÃO*/
    .sobre {
        flex-direction: column;
        gap: 0px;
    }

    .photo-container-sobre img {
        width: 200px;
    }

    .container-text span {
        font-size: 30px;
        padding-bottom: 5px;
    }

    .text-sobre {
        font-size: 16px;
        max-width: 400px;
    }

    /*TERCEIRA SEÇÃO*/
    .conhecimentos {
        gap: 100px;
    }

    .conhecimentos h1 {
        font-size: 35px;
    }

    .container-conhecimento p {
        font-size: 16px;
    }

    .container-conhecimento {
        gap: 10px;
    }

    .containers-conhecimentos-one {
        gap:50px;
    }
    .containers-conhecimentos-two {
        gap:50px;
    }

    .containers-conhecimentos-one i {
        font-size: 55px;
    }

    .containers-conhecimentos-two i {
        font-size: 55px;
    }

    .containers-conhecimentos-geral {
        display: flex;
        flex-direction: column;
    }
}

@media(min-width:481px) and (max-width:767px) {
    
    .menu-nav {
        visibility: hidden;
    }

    /*PRIMEIRA SEÇÃO*/
    .photo-container img {
        display: none;
    }

    .inicial {
        flex-direction: column;
    }

    .btn-menu-inicial-mobile {
        display: flex;
    }

    .mobile-menu-nav-inicial {
        visibility: visible;
    }

    .ul-mobile-menu-nav {
        font-size: 14px;
    }

    .btn-voltar-topo {
        visibility: hidden;
    }

    .titulos {
        margin-top: 80px;
        align-items: center;
    }

    .titulo-estatico {
        font-size: 40px;
    }

    .titulo-dinamico p {
        font-size: 40px;
    }

    .menu-nav-inicial ul {
        display: none;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-mobile {
        visibility: visible;
    }

    /*SEGUNDA SEÇÃO*/
    .sobre {
        flex-direction: column;
        gap: 0px;
    }

    .photo-container-sobre img {
        width: 200px;
    }

    .container-text span {
        font-size: 30px;
        padding-bottom: 5px;
    }

    .text-sobre {
        font-size: 14px;
        max-width: 350px;
    }

    /*TERCEIRA SEÇÃO*/
    .conhecimentos {
        gap: 100px;
    }

    .conhecimentos h1 {
        font-size: 35px;
    }

    .container-conhecimento p {
        font-size: 16px;
    }

    .container-conhecimento {
        gap: 10px;
    }

    .containers-conhecimentos-one {
        gap:50px;
    }
    .containers-conhecimentos-two {
        gap:50px;
    }

    .containers-conhecimentos-one i {
        font-size: 55px;
    }

    .containers-conhecimentos-two i {
        font-size: 55px;
    }

    .containers-conhecimentos-geral {
        display: flex;
        flex-direction: column;
    }

}

@media(max-width:480px) {

    .menu-nav {
        visibility: hidden;
    }

    /*PRIMEIRA SEÇÃO*/
    .photo-container img {
        display: none;
    }

    .inicial {
        flex-direction: column;
    }

    .btn-menu-inicial-mobile {
        display: flex;
    }

    .ul-mobile-menu-nav {
        font-size: 14px;
    }

    .mobile-menu-nav-inicial {
        visibility: visible;
    }

    .btn-menu-inicial-mobile {
        padding: 15px 0px;
    }

    .btn-voltar-topo {
        visibility: hidden;
    }

    .titulos {
        margin-top: 80px;
        align-items: center;
    }

    .titulo-estatico {
        font-size: 30px;
    }

    .titulo-dinamico p {
        font-size: 30px;
    }

    .menu-nav-inicial ul {
        display: none;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-mobile {
        visibility: visible;
    }

    /*SEGUNDA SEÇÃO*/
    .sobre {
        flex-direction: column;
        gap: 0px;
    }

    .photo-container-sobre img {
        width: 200px;
    }

    .container-text span {
        font-size: 30px;
        padding-bottom: 5px;
    }

    .text-sobre {
        font-size: 14px;
        max-width: 350px;
    }

    /*TERCEIRA SEÇÃO*/
    .conhecimentos {
        gap: 100px;
    }

    .conhecimentos h1 {
        font-size: 35px;
    }

    .container-conhecimento p {
        font-size: 16px;
    }

    .container-conhecimento {
        gap: 10px;
    }

    .containers-conhecimentos-one {
        gap:50px;
    }
    .containers-conhecimentos-two {
        gap:50px;
    }

    .containers-conhecimentos-one i {
        font-size: 55px;
    }

    .containers-conhecimentos-two i {
        font-size: 55px;
    }

    .containers-conhecimentos-geral {
        display: flex;
        flex-direction: column;
    }
}